<div class="slide" id="@Id">
    <h3>Slide</h3>
</div>

@code {
    [EditorRequired]
    [Parameter]
    public string Id { get; set; } 

    [EditorRequired]
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
}
