<div class="slide" id="@Id">
    @ChildContent
</div>

@code {
    [EditorRequired]
    [Parameter]
    public string Id { get; set; } = String.Empty;

    [EditorRequired]
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
}
