@page "/"

<PageTitle>Calculadora IMC</PageTitle>

<div class="container flex flex-center">
    <Slide Id="calculator">
        <img src="img/icon-no-bg.png" alt="Calculadora IMC" />
        <h3>Calculadora IMC</h3>
        <Calculator />
    </Slide>
</div>
<div class="container flex flex-center">
    <Slide Id="history"><h3>Histórico</h3></Slide>
</div>
<div class="container flex flex-center">
    <Slide Id="about"><h3>Sobre</h3></Slide>
</div>
