@page "/"

<PageTitle>Calculadora IMC</PageTitle>

<div class="container">
    <Slide id="slide-calc"><h1>Calculadora</h1></Slide>
    <Slide id="slide-hist"><h1>Histórico</h1></Slide>
    <Slide id="slide-about"><h1>Sobre</h1></Slide>
</div>
